In [54]:
import pandas as pd
import sqlite3
import sys
import numpy as np

In [55]:
conn = sqlite3.connect('../rural.db')
query = "SELECT * FROM hospital_snapshot"

In [57]:
df = pd.read_sql_query(query, conn)
# remove blanks and replace with NaN's so we can convert to integer/float dtypes
df = df.replace(r'^\s*$', np.nan, regex=True)
# this is slightly annoying, but sqlite doesn't have great types...
df = df.astype({
    'OBJECTID': 'int64',
    'snapshotTime': 'datetime64',
    'Community Name': 'category',
    'Facility Name': 'category',
    'Lat': 'float64',
    'Long': 'float64',
    'Emergency Department Availability': 'category',
    'Percentage of Time Open (2015)': 'float32', 
    'Nearest Alternate Emergency Department': 'category',
    'Acute Care Availability': 'category',
    'Acute Care Number of Beds': 'float64',
    'Acute Care Occupancy Rate (2015-16)': 'float32',
    'Transitional Care Occupancy Rate (2015-16)': 'float32', 
    'Transitional Care Availability': 'category',
    'Transitional Care Number of Beds': 'float32',
    'Diagnostic Care Services Available': 'category',
    'Emergency Medical Services Station': 'category',
    'Nearest Alternate Emergency Medical Services Station': 'category',
    'Personal Care Home': 'category',
    'Personal Care Home Number of Beds': 'float64',
    'geometry_x': 'float64',
    'geometry_y': 'float64',   
})

df

,id,OBJECTID,snapshotTime,Community Name,Facility Name,Lat,Long,Emergency Department Availability,Percentage of Time Open (2015),Nearest Alternate Emergency Department,...,Transitional Care Occupancy Rate (2015-16),Transitional Care Availability,Transitional Care Number of Beds,Diagnostic Care Services Available,Emergency Medical Services Station,Nearest Alternate Emergency Medical Services Station,Personal Care Home,Personal Care Home Number of Beds,geometry_x,geometry_y
0,1607846508:1,1,2020-12-13 08:01:48,Flin Flon,Flin Flon General Hospital,54.765086,-101.877778,24/7 Services,100.0,NaN,...,NaN,Not Available,NaN,"X-Ray, Lab",Yes,NaN,Yes,66.0,0.0,391790.0